{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="card border-info" style="width: 100%;">
    <div class="card-body">
      <h3 class="card-title text-center"><a href="{% url 'announcement' announcement.id %}" class="text-info">{{ announcement.title }}</a></h3>
      <h6 class="card-subtitle mb-2 text-muted">
        Added By: <i class="fas fa-user-tie"></i> {{announcement.user}}
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">
        Date: <i class="fas fa-clock"></i>{{announcement.created_date | date:"d b, Y"}}
      </h6>
      <p class="card-text">{{announcement.body | safe}}</p>
    </div>
  </div>
</div>

{% endblock content %}