{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 mb-5">
  <h1 class="text-center text-uppercase">announcements</h1>
  {% if announcements %}
    <div class="row">
    {% for announcement in announcements %}
    <div class="col-6">
      <div class="card mb-3 border-info">
        <div class="card-body">
          <h3 class="card-title"><a href="{% url 'announcement' announcement.id %}" class="text-info">{{ announcement.title }}</a></h3>
          <h6 class="card-subtitle mb-2 text-muted">
            Added By: <i class="fas fa-user-tie"></i> {{announcement.user.first_name}} {{announcement.user.last_name}}
          </h6>
          <h6 class="card-subtitle mb-2 text-muted">
            <i class="fas fa-clock"></i> {{announcement.created_date | date:"d b, Y"}}
          </h6>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  {%else%}
    <p>No Announcements to show</p>
  {% endif %}
</div>
{% endblock content %}