<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" href="{% url 'index' %}">
      EYSP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li
          {% if 'meetings' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'meetings' %}">meetings</a>
        </li>
        <li
          {% if 'articles' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'articles' %}">articles</a>
        </li>
        <li
          {% if 'announcements' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'announcements' %}">announcements</a>
        </li>
      </ul>
    </div>
</nav>