{% extends 'base.html' %}

{% block content %}
<section id='showcase'>
  <div class='showcase-content'>
    <h1>ENABLE Youth Sudan Program</h1>
    <p class='lead'>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis
      aut, ab praesentium nemo, itaque dolores alias quam ducimus,
      blanditiis assumenda dicta dolore numquam similique deserunt ullam ea
      nesciunt sit amet!
    </p>
    <div class='links'>
      <a href="{% url 'articles' %}" class='btn btn-info btn-sm text-uppercase'><i class="far fa-newspaper"></i> Articles
      </a>
      <a
        href="{% url 'announcements' %}"
        class='btn btn-secondary btn-sm text-uppercase'
      > <i class="fas fa-bullhorn"></i> announcements
    </a>
    </div>
  </div>
</section>
{% endblock content %}
