.navbar {
  background-color: #006064;
}
.navbar-nav .nav-link {
  /* opacity: 0.9; */
  text-transform: uppercase; 
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

#showcase {
  background: #333 url('/static/img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 56px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#main {
  background: #333 url('/static/img/showcase2.jpg') no-repeat center center/cover;
  height: 100vh;
  margin-top: -0.5rem;
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.card {
  box-shadow: 4px 5px 15px 1px #888888;
  transition: transform 1s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.4);
  /* z-index: 2; */
}

#main-footer {
  background-color: #006064;
}