{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 mb-5">
  <h1 class="text-center text-uppercase">Meetings</h1>
  {% if meetings %}
    <div class="row">
    {% for meeting in meetings %}
    <div class="col-6">
      <div class="card mb-3 border-info">
        <div class="card-body">
          <h3 class="card-title"><a href="{% url 'meeting' meeting.id %}" class="text-info">{{ meeting.subject }}</a></h3>
          <h6 class="card-subtitle mb-2 text-muted">
            Owner: <i class="fas fa-user-tie"></i> {{meeting.owner}}
          </h6>
          <h6 class="card-subtitle mb-2 text-muted">
            Date: <i class="fas fa-clock"></i> {{meeting.date | date:"d b, Y"}}
          </h6>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  {%else%}
    <p>No Meetings to show</p>
  {% endif %}
</div>
{% endblock content %}
