{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="container mt-3">
  <h1 class="text-center text-uppercase">Articles</h1>
  {% if articles %}
    {% for article in articles %}
    <div class="card border-info mb-3" style="width: 100%;">
      <div class="card-body">
        <h3 class="card-title"><a href="{% url 'article' article.id %}" class="text-info">{{ article.title }}</a></h3>
        <h6 class="card-subtitle mb-2 text-muted">
          <i class="fas fa-user-tie"></i> {{article.writer}}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          <i class="fas fa-clock"></i> {{article.created_date | timesince}}
        </h6>
      </div>
    </div>
    {% endfor %}
  {%else%}
    <p>No Articles to show</p>
  {% endif %}
</div>
<div class="container">
<div class="row">
  <div class="col-md-12">
    {% if articles.has_other_pages %}
      <ul class="pagination">
        {% if articles.has_previous %}
          <li class="page-item">
              <a href="?page=1" class="page-link">&laquo; First</a>
          </li>
          <li class="page-item">
              <a href="?pag={{articles.previous_page_number}}" class="page-link">Previuos</a>
          </li>
        {% endif %}
        {% for i in articles.paginator.page_range %}
          {% if articles.number == i %}
            <li class="page-item active">
              <a class="page-link">{{i}}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if articles.has_next %}
          <li class="page-item">
            <a href="?pag={{articles.next_page_number}}" class="page-link">Next</a>
          </li>
          <li class="page-item">
              <a href="?page={{ articles.paginator.num_pages }}" class="page-link">Last &raquo;</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
</div>

{% endblock content %}